.home-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  color: #ffffff;
}

.home-body-container {
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 60vw;
}

.head-body-home {
  font-size: 70px;
}

.para-body-home {
  font-size: 25px;
}

.find-jobs-btn {
  background-color: #4f46e5;
  color: #ffffff;
  height: 40px;
  width: 130px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
